{
  "extends": [
    "airbnb-typescript/base",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:jest/all"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest"],
  "parserOptions": {
    "ecmaVersion": 9,
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "import/no-unresolved": "off",
    "jest/no-hooks": "off",
    "@typescript-eslint/comma-dangle": "off"
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "rules": {
        "no-undef": "off"
      }
    }
  ]
}
