{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "prettier",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:jest/all"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "parserOptions": {
    "ecmaVersion": 9,
    "project": "./tsconfig.json"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "@typescript-eslint/comma-dangle": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "jest/no-deprecated-functions": "off",
    "jest/no-hooks": "off",
    "jest/prefer-expect-assertions": "off"
  },
  "overrides": [
    {
      "files": [
        "**/*.ts"
      ],
      "rules": {
        "no-undef": "off"
      }
    }
  ]
}
